

<h4>Search For A Room</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowSearchResultsByCategory">
            <div class="form-group">
                <label for="searchRoom" class="control-label"></label>
                <input name="searchRoom" placeholder="Room Category" class="form-control" />
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>

        <form asp-action="ShowSearchResultsByCapacity">
            <div class="form-group">
                <label for="searchCapacity" class="control-label"></label>
                <input name="searchCapacity" placeholder="Room Capacity" class="form-control" />
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>

        <form asp-action="ShowSearchResultsByPrice">
            <div class="form-group">
                <label for="searchPrice" class="control-label"></label>
                <input name="searchPrice" placeholder="Room Price" class="form-control" />
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


